@{
    ViewData["Title"] = "PoloTech - Sistema de Gerenciamento de Estoque";
}
<div class="row ">
    <div class="col-12 col-sm-12 col-md-6 col-lg col-xl">
        <div class="card rounded">
            <div class="p-0 clearfix">
                <i class="fa fa-archive bg-secondary p-4 font-2xl mr-3 float-left text-light"></i>
                <div class="text-muted font-weight-bold font-xs small pt-2">Produtos Cadstrados</div>
                <div class="h5 text-secondary mb-0">0</div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg col-xl">
        <div class="card rounded">
            <div class="p-0 clearfix">
                <i class="fa fa-plus-square bg-primary p-4 font-2xl mr-3 float-left text-light"></i>
                <div class="text-muted font-weight-bold font-xs small pt-2">Qtde. Entradas</div>
                <div class="h5 text-primary mb-0">0</div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg col-xl">
        <div class="card rounded">
            <div class="p-0 clearfix">
                <i class="fa fa-minus-square bg-danger p-4 font-2xl mr-3 float-left text-light"></i>
                <div class="text-muted font-weight-bold font-xs small pt-2">Qtde. Saidas</div>
                <div class="h5 text-danger mb-0">0</div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg col-xl">
        <div class="card rounded">
            <div class="p-0 clearfix">
                <i class="fa fa-check-square bg-success p-4 font-2xl mr-3 float-left text-light"></i>
                <div class="text-muted font-weight-bold font-xs small pt-2">Posição Estoque</div>
                <div class="h5 text-success mb-0">0</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col col-sm col-md col-lg col-xl">
        <div class="card rounded border border-light" style="height: 300px;">
            <div class="card-body">
            </div>
        </div>
    </div>
</div>